*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#07142c,#0b1f4d,#3d0d6e);
color:white;
}

header{
padding:20px;
text-align:center;
background:rgba(0,0,0,.25);
backdrop-filter:blur(12px);
position:sticky;
top:0;
z-index:100;
}

header h1{
font-size:32px;
color:#00c3ff;
letter-spacing:2px;
margin-bottom:15px;
text-shadow:0 0 20px #00c3ff;
}

header input{
width:90%;
max-width:450px;
padding:14px;
border:none;
border-radius:30px;
background:#1d2d50;
color:white;
font-size:16px;
outline:none;
}

.banner{
padding:18px;
}

.banner img{
width:100%;
border-radius:20px;
display:block;
box-shadow:0 0 25px rgba(0,195,255,.4);
}

.title{
text-align:center;
font-size:28px;
margin:15px 0;
color:#00c3ff;
}

.games{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:18px;
padding:18px;
}

.card{
  .uc-image{
    width:90px;
    display:block;
    margin:0 auto 12px;
}

background:rgba(255,255,255,.08);
border-radius:18px;
overflow:hidden;
text-decoration:none;
color:white;
transition:.3s;
border:1px solid rgba(255,255,255,.12);
cursor:pointer;
  
}

.card:hover{
transform:translateY(-8px)scale(1.03);
box-shadow:0 0 25px #00c3ff;
}

.card img{
width:10%;
height:50px;
object-fit:cover;
display:block;
}

.card p{
padding:14px;
text-align:center;
font-size:18px;
font-weight:bold;
}